*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 81.25%;
}

header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 8px;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 211px;
    height: 48px;
    font-size: 13px;
    align-items: center;
}

header nav svg{
    width: 27px;
    color: #5f6368;
    opacity: 1;
}

nav div:hover{
    cursor: pointer;
}

#gmail:hover{
    text-decoration: underline;
}

#images:hover{
    text-decoration: underline;
}

#svg{
    padding: 8px;
}

#svg:hover{
    border-radius: 50%;
    background-color: rgb(234, 237, 240);

}

#account{
    width: 30px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

#account img{
    width: 25px;
}

#account:hover{
    border-radius: 50%;
    background-color: rgb(234, 237, 240);
}

.heading img{
    width: 17rem;
    margin-bottom: 38px;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin-bottom: 8vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
}

#search{
    width: 35.81rem;
    height: 2.9rem;
    padding: 13px;
    font-size: 1rem;
    border-radius: 30px;
    border: 1px solid #ccc;
    padding-inline-start: 3rem;
    box-shadow: 0px 0px 4px 0px #afadad;
}

input:hover{
    background-color: var(--color-realbox-background-hovered);
}

.srch-icons img{
    width: 15px;
}

.srch-icons {
    width: 100%;
    padding: 7px 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -37px;
    pointer-events: none;
}

.shortcut{
    padding-bottom: 20px;
    height: 23vh;
    width: 334px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.shortcut div{
    width: 7rem;
    height: 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    /* justify-content: unset; */
    padding: 0;
}

.shortcut-list .icon{
    width: 3rem;
    border-radius: 48%;
    background: #f1f3f4;
    color: white;
    font-weight: bold;
    margin: 1rem 0 0;
}

.icon-name{
    width: auto;
    padding: 2px 5px;
    font-weight: bold;
    color: #202124;
    border: none;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.plus{
    color: black;
    font-size: 1.5rem;
}

.shortcut-list:hover{
    border-radius: 6px;
    background-color: rgb(234, 237, 240);
}

/* ADDING RESPONSIVENESS */ 
@media (max-width: 667px){
    html{
        font-size: 54%;
    }
}

@media (max-width: 442px){
    html{
        font-size: 47%;
    }
    .search{
        width: 36.05rem;
        height: 3.1rem;
    }
    .shortcut{
        height: 18vh;
        width: 336px;
    }
    .icon-name {
        width: auto;
        padding: 2px 5px;
        font-weight: bold;
        color: #202124;
        border: none;
        font-size: 9px;
        font-weight: 400;
    }
    .shortcut div {
        width: 7rem;
        height: 65%;
    }
    .container{
        height: 53vh;
        display: flex;
        flex-direction: column;
    }
   
}